
.table {
  border: 1;
  width: 50%;
  border-collapse: collapse;
  /*border-spacing: 0.5;*/
  table-layout:fixed;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
}
th {
  background-color: #00e2cf; /* 背景色指定 */
  border: 1px solid #000;
}
td {
  border: 1px solid #000;
  background-color: rgb(245, 245, 240);
  
}
.SE {
  background-color: rgb(238, 255, 198);
}
.SE:hover {
  background-color: white;
}
.BGM {
  background-color: rgb(252, 169, 252);
}
.BGM:hover {
  background-color: white;
}
.Miku {
  background-color: #baf8f3;
}
.Miku:hover {
  background-color: white;
}
