table {
  border: 1;
  width: 50%;
  background-color: #a9ffcd;
  border-collapse: separate;
  border-spacing: 0.5;
  table-layout: fixed;
  border-left: solid 1px #444;
  border-right: solid 1px #444;
  margin-left: auto;
  margin-right: auto;
}
th {
  background-color: #00e2cf; /* 背景色指定 */
}
td {
  border-spacing: 0.5;
}
button {
  color: chocolate;
}
.SE {
  background-color: rgb(238, 255, 198);
}
.SE:hover {
  background-color: white;
}
.BGM {
  background-color: rgb(252, 169, 252);
}
.BGM:hover {
  background-color: white;
}
.MikuStyle {
  background-color: #baf8f3;
}
.MikuStyle:hover {
  background-color: white;
}
