.App {
  text-align: center;
}
header {
  position: relative;
  /*background-image: url("./images/head.png");
  background-size: cover;*/
}
header p {
  width: 100%;
  position: absolute;
  color: white; /*文字は白に*/
  font-weight: bold; /*太字に*/
  font-size: 3em; /*サイズ3倍*/
  font-family: Quicksand, sans-serif; /*Google Font*/
  top: -15%;
}
header img {
  width: 100%;
}
@media screen and (max-width: 1300px) {
  header p {
    width: 100%;
    position: absolute;
    color: white; /*文字は白に*/
    font-weight: bold; /*太字に*/
    font-size: 200%; /*サイズ2倍*/
    font-family: Quicksand, sans-serif; /*Google Font*/
    top: -20%;
  }
}
@media screen and (max-width: 880px) {
  header p {
    width: 100%;
    position: absolute;
    color: white; /*文字は白に*/
    font-weight: bold; /*太字に*/
    font-size: 150%; /*サイズ2倍*/
    font-family: Quicksand, sans-serif; /*Google Font*/
    top: -20%;
  }
}
@media screen and (max-width: 640px) {
  header p {
    width: 100%;
    position: absolute;
    color: white; /*文字は白に*/
    font-weight: bold; /*太字に*/
    font-size: 120%; /*サイズ1.5倍*/
    font-family: Quicksand, sans-serif; /*Google Font*/
    top: -20%;
  }
}
@media screen and (max-width: 550px) {
  header p {
    width: 100%;
    position: absolute;
    color: white; /*文字は白に*/
    font-weight: bold; /*太字に*/
    font-size: 100%; /*サイズ1.5倍*/
    font-family: Quicksand, sans-serif; /*Google Font*/
    top: -20%;
  }
}
