.App {
  text-align: center;
}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/
.header {
  position: relative; /*相対配置*/
}
.header p {
  position: absolute;
  color: white; /*文字は白に*/
  font-weight: bold; /*太字に*/
  font-size: 4em; /*サイズ4倍*/
  font-family: Quicksand, sans-serif; /*Google Font*/
  top: 0;
  left: 15%;
}
.header img {
  width: 100%;
}

.top {
  font-size: 150%;
  font-weight: bold;
}
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
